<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Welcome to Snow Leopard</string>
	<key>CFBundleExecutable</key>
	<string>Welcome to Snow Leopard</string>
	<key>CFBundleGetInfoString</key>
	<string>Welcome to Snow Leopard</string>
	<key>CFBundleIconFile</key>
	<string>pdf.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.WelcometoSnowLeopard</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Welcome to Snow Leopard</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>92</string>
	<key>CFBundleSignature</key>
	<string>GRAp</string>
	<key>CFBundleVersion</key>
	<string>92</string>
	<key>LSBackgroundOnly</key>
	<string>1</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
